# Working-With-APIs

    In this lab - choose 3 APIs from the list in the GitHub Repo.
    Create a dataframe of the available data.

In [64]:
# Random pictures of ducks

import requests
import pandas as pd

def get_random_duck_image():
    url = "https://random-d.uk/api/v2/random?type=JPG"
    response = requests.get(url)
    
    if response.status_code == 200:
        data = response.json()
        return data["url"]
    else:
        return None

df_ducks = pd.DataFrame(columns=["duck_image"])

# 5 random pictrues
for _ in range(5):
    duck_image_url = get_random_duck_image()
    if duck_image_url:
        df_ducks = pd.concat([df, pd.DataFrame({"duck_image": [duck_image_url]})], ignore_index=True)

display(df_ducks)

                        duck_image
0   https://random-d.uk/api/50.jpg
1  https://random-d.uk/api/282.jpg
2   https://random-d.uk/api/24.gif
3  https://random-d.uk/api/220.jpg
4  https://random-d.uk/api/127.jpg
5  https://random-d.uk/api/207.jpg

In [65]:
# collection of dog pictrues

url = 'https://dog.ceo/api/breeds/list/all'

try:
    response = requests.get(url)

    # if the request is successful (code 200)
    if response.status_code == 200:
        data = response.json()
 
        if data and 'message' in data:
            breeds_data = data['message']

            flattened_data = [{'breed': breed, 'sub_breed': sub_breed} 
                              for breed, sub_breeds in breeds_data.items() 
                              for sub_breed in sub_breeds]

            # our dataframe
            df_dog_breeds = pd.DataFrame(flattened_data)

            display(df_dog_breeds.head())
        else:
            print("No dog breeds found")
    else:
        print("Error: ", response.status_code, response.text)

except Exception as e:
    print("Error: ", e)

        breed  sub_breed
0  australian     kelpie
1  australian   shepherd
2   bakharwal     indian
3      buhund  norwegian
4     bulldog     boston

In [66]:
# Cat for every HTTP Status

base_url = "https://http.cat/{}"

# HTTP status codes
status_codes = [
    100, 101, 102, 103, 200, 201, 202, 203, 204, 205, 206, 207, 208, 226,
    300, 301, 302, 303, 304, 305, 307, 308, 400, 401, 402, 403, 404, 405,
    406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 420,
    421, 422, 423, 424, 425, 426, 428, 429, 431, 444, 450, 451, 497, 498,
    499, 500, 501, 502, 503, 504, 506, 507, 508, 509, 510, 511, 521, 522,
    523, 525, 530, 599
]

http_status_data = []

for status_code in status_codes:
    url = base_url.format(status_code)

    try:
        # checking if status code 200
        response = requests.get(url)
        if response.status_code == 200:
            # appending to list
            http_status_data.append({"status_code": status_code, "image_url": url})
        else:
            print("Error: ", response.status_code, response.text)

    except Exception as e:
        print("Error: ", e)

df_status_images = pd.DataFrame(http_status_data)


display(df_status_images)

    status_code             image_url
0           100  https://http.cat/100
1           101  https://http.cat/101
2           102  https://http.cat/102
3           103  https://http.cat/103
4           200  https://http.cat/200
..          ...                   ...
69          522  https://http.cat/522
70          523  https://http.cat/523
71          525  https://http.cat/525
72          530  https://http.cat/530
73          599  https://http.cat/599

[74 rows x 2 columns]